In [1]:
import pandas as pd

In [4]:
df_by_player = pd.read_csv('../core/output/batters.csv')
df_meta = pd.read_csv('../core/data/Lahman/mlb_data/People.csv')
fg_stats = pd.read_csv('../core/data/FanGraphsAllStats.csv')

In [6]:
df_meta['Name'] = df_meta['nameFirst'] + ' ' + df_meta['nameLast']

In [7]:
df_meta['Name']

0          David Aardsma
1             Hank Aaron
2           Tommie Aaron
3               Don Aase
4              Andy Abad
              ...
19873         Frank Zupo
19874       Paul Zuvella
19875    George Zuverink
19876     Dutch Zwilling
19877          Tony Zych
Name: Name, Length: 19878, dtype: object

In [8]:
df_meta[df_meta['Name'] == 'Pete Rose']

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,Name
15446,rosepe01,1941.0,4.0,14.0,USA,OH,Cincinnati,NaN,NaN,NaN,...,Peter Edward,192.0,71.0,B,R,1963-04-08,1986-08-17,rosep001,rosepe01,Pete Rose
15447,rosepe02,1969.0,11.0,16.0,USA,OH,Cincinnati,NaN,NaN,NaN,...,Peter Edward,180.0,73.0,L,R,1997-09-01,1997-09-28,rosep002,rosepe02,Pete Rose

In [15]:
df_names = df_meta[['retroID', 'Name']]

In [23]:
df_names[df_names['retroID'].isnull()].shape

(56, 2)

In [24]:
df_names[df_names['Name'].isnull()].shape

(37, 2)

In [25]:
df_names[(df_names['retroID'].isnull() & df_names['Name'].isnull())].shape

(0, 2)

In [26]:
df_names = df_names.dropna()

In [30]:
df_names = df_names.drop_duplicates('retroID', keep='first')

In [31]:
df_names

        retroID             Name
0      aardd001    David Aardsma
1      aaroh101       Hank Aaron
2      aarot101     Tommie Aaron
3      aased001         Don Aase
4      abada001        Andy Abad
...         ...              ...
19873  zupof101       Frank Zupo
19874  zuvep001     Paul Zuvella
19875  zuveg101  George Zuverink
19876  zwild101   Dutch Zwilling
19877  zycht001        Tony Zych

[19785 rows x 2 columns]