In [38]:
import pandas as pd

In [47]:
df_all = pd.read_csv('../core/data/FanGraphsLeagueAverages.csv')

In [48]:
df_al = pd.read_csv('../core/data/al.csv')
df_nl = pd.read_csv('../core/data/nl.csv')

In [49]:
df_al = df_al['wRC']
df_nl = df_nl['wRC']

In [50]:
type(df_al)

pandas.core.series.Series

In [51]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Season  100 non-null    int64
 1   PA      100 non-null    int64
 2   BB%     100 non-null    object
 3   K%      100 non-null    object
 4   BB/K    100 non-null    float64
 5   AVG     100 non-null    float64
 6   OBP     100 non-null    float64
 7   SLG     100 non-null    float64
 8   OPS     100 non-null    float64
 9   ISO     100 non-null    float64
 10  Spd     100 non-null    float64
 11  BABIP   100 non-null    float64
 12  UBR     100 non-null    float64
 13  wGDP    100 non-null    float64
 14  wSB     100 non-null    float64
 15  wRC     100 non-null    int64
 16  wRC_NL  100 non-null    int64
 17  wRC_AL  100 non-null    int64
 18  wRAA    100 non-null    float64
 19  wOBA    100 non-null    float64
 20  wRC+    100 non-null    int64
dtypes: float64(13), int64(6), object(2)
memory usage: 16.5+ KB

In [44]:
df_all.insert(loc=18, column='wRC_AL', value=df_al)
df_all.insert(loc=18, column='wRC_NL', value=df_nl)

ValueError: cannot insert wRC_AL, already exists