In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df1 = pd.read_csv('../core/data/lahman/mlb_data/Fielding.csv')
df2 = pd.read_csv('../core/data/lahman/mlb_data/People.csv')

In [3]:
df1.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'POS', 'G', 'GS',
       'InnOuts', 'PO', 'A', 'E', 'DP', 'PB', 'WP', 'SB', 'CS', 'ZR'],
      dtype='object')

In [4]:
fielding_columns = ['playerID', 'POS']
df1 = df1[fielding_columns]

In [5]:
df2.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

In [6]:
people_columns = ['playerID', 'birthYear', 'bats', 'throws', 'weight', 'height', 'debut', 'finalGame']
df2 = df2[people_columns]

In [7]:
df2.head()

    playerID  birthYear bats throws  weight  height    debut finalGame
0  omaraol01     1891.0    R      R   155.0    69.0   9/8/12   4/19/19
1  steelbo01     1894.0    B      L   175.0    70.0  4/17/16   4/24/19
2  fishebo01     1886.0    R      R   170.0    69.0   6/3/12   4/25/19
3   kanefr01     1895.0    L      R   175.0    71.0  9/13/15   4/28/19
4   kingle01     1894.0    R      R   150.0    70.0  6/24/16   4/28/19

In [8]:
string = list(df2[df2['playerID'] == 'omaraol01']['debut'])[0]

In [9]:
datetime.strptime(string, '%m/%d/%y').year

2012

In [10]:
df2['debut'].fillna(0, inplace=True)
df2['finalGame'].fillna(0, inplace=True)

In [11]:
def get_debut_year(player):
    birth_year = player['birthYear']
    debut_as_string = str(player['debut'])
    try:
        debut_year = datetime.strptime(debut_as_string, '%m/%d/%y').year
    except ValueError:
        if debut_as_string == '0':
            debut_year = 0
        else:
            debut_year = datetime.strptime(debut_as_string, '%Y-%m-%d').year
    if debut_year - birth_year > 50:
        debut_year = debut_year - 100
    return debut_year

In [12]:
def get_final_year(player):
    debut_year = get_debut_year(player)
    final_as_string = str(player['finalGame'])
    try:
        final_year = datetime.strptime(final_as_string, '%m/%d/%y').year
    except ValueError:
        if final_as_string == '0':
            final_year = 0
        else:
            final_year = datetime.strptime(final_as_string, '%Y-%m-%d').year
    if final_year - debut_year > 50:
        final_year = final_year - 100
    return final_year

In [13]:
df2['debutYear'] = df2.apply(get_debut_year, axis=1)
df2['finalYear'] = df2.apply(get_final_year, axis=1)

In [14]:
df2[df2['birthYear'] == 1995]

,playerID,birthYear,bats,throws,weight,height,debut,finalGame,debutYear,finalYear
13594,herrero01,1995.0,R,R,185.0,71.0,6/14/17,6/29/17,2017,2017
13765,cordoal01,1995.0,R,R,175.0,73.0,4/3/17,10/1/17,2017,2017
13777,haysau01,1995.0,R,R,195.0,73.0,9/7/17,10/1/17,2017,2017
13788,martefr01,1995.0,R,R,225.0,73.0,6/9/17,10/1/17,2017,2017
13908,bautige01,1995.0,R,R,195.0,75.0,4/17/18,6/2/18,2018,2018
13931,arroych01,1995.0,R,R,180.0,73.0,4/24/17,6/15/18,2017,2018
14021,williju02,1995.0,L,R,215.0,74.0,7/21/18,7/21/18,2018,2018
14078,pareded01,1995.0,R,R,230.0,73.0,6/23/17,8/12/18,2017,2018
14079,gonzame01,1995.0,R,R,216.0,72.0,4/19/18,8/13/18,2018,2018
14129,nottija01,1995.0,R,R,230.0,74.0,4/16/18,9/4/18,2018,2018
14148,ortizlu02,1995.0,R,R,230.0,75.0,9/7/18,9/14/18,2018,2018
14158,siscoch01,1995.0,L,R,195.0,74.0,9/2/17,9/16/18,2017,2018
14194,kellebr01,1995.0,R,R,230.0,77.0,3/29/18,9/23/18,2018,2018
14215,delosen01,1995.0,R,R,170.0,75.0,7/10/18,9/25/18,2018,2018
14222,hamilia01,1995.0,R,R,200.0,72.0,8/31/18,9/25/18,2018,2018
14224,jimenjo02,1995.0,R,R,272.0,75.0,4/13/17,9/25/18,2017,2018
14244,biebesh01,1995.0,R,R,195.0,75.0,5/31/18,9/26/18,2018,2018
14267,hernael01,1995.0,R,R,210.0,72.0,5/10/18,9/26/18,2018,2018
14287,reidfse01,1995.0,R,R,220.0,75.0,8/13/18,9/26/18,2018,2018
14296,wrighky01,1995.0,R,R,200.0,76.0,9/4/18,9/26/18,2018,2018
14322,senzaan01,1995.0,R,R,180.0,73.0,4/6/17,9/27/18,2017,2018
14332,alvarjo03,1995.0,L,L,240.0,72.0,5/3/17,9/28/18,2017,2018
14354,crawfjp01,1995.0,L,R,180.0,74.0,9/5/17,9/28/18,2017,2018
14391,lauerer01,1995.0,R,L,205.0,75.0,4/24/18,9/28/18,2018,2018
14403,osunaro01,1995.0,R,R,215.0,74.0,4/8/15,9/28/18,2015,2018
14408,pelhacd01,1995.0,L,L,235.0,78.0,9/5/18,9/28/18,2018,2018
14528,janseda01,1995.0,R,R,230.0,74.0,8/13/18,9/29/18,2018,2018
14537,kineris01,1995.0,R,R,176.0,70.0,4/10/18,9/29/18,2018,2018
14547,mazarno01,1995.0,L,L,215.0,76.0,4/10/16,9/29/18,2016,2018
14559,moyaga01,1995.0,L,L,175.0,72.0,9/12/17,9/29/18,2017,2018
14622,toccica01,1995.0,R,R,160.0,74.0,3/31/18,9/29/18,2018,2018
14650,adamewi01,1995.0,R,R,200.0,72.0,5/22/18,9/30/18,2018,2018
14657,alcansa01,1995.0,R,R,170.0,76.0,9/3/17,9/30/18,2017,2018
14665,andujmi01,1995.0,R,R,215.0,72.0,6/28/17,9/30/18,2017,2018
14666,aranovi01,1995.0,R,R,200.0,74.0,9/12/17,9/30/18,2017,2018
14671,aveliab01,1995.0,R,R,195.0,71.0,9/8/18,9/30/18,2018,2018
14680,bauerja01,1995.0,L,L,195.0,73.0,6/7/18,9/30/18,2018,2018
14732,ciuffni01,1995.0,L,R,205.0,73.0,9/3/18,9/30/18,2018,2018
14784,flaheja01,1995.0,R,R,205.0,76.0,9/1/17,9/30/18,2017,2018
14828,guerrja02,1995.0,L,R,155.0,71.0,5/4/18,9/30/18,2018,2018
14843,hermomi01,1995.0,R,R,190.0,71.0,5/18/18,9/30/18,2018,2018
14899,litteza01,1995.0,R,R,220.0,76.0,6/5/18,9/30/18,2018,2018
14935,mcguire01,1995.0,L,R,215.0,71.0,9/6/18,9/30/18,2018,2018
14940,meadoau01,1995.0,L,L,210.0,75.0,5/18/18,9/30/18,2018,2018
14941,mejiafr01,1995.0,B,R,180.0,70.0,9/1/17,9/30/18,2017,2018
14942,mendeyo01,1995.0,L,L,200.0,77.0,9/5/16,9/30/18,2016,2018
14948,moncayo01,1995.0,B,R,205.0,74.0,9/2/16,9/30/18,2016,2018
14949,mondera02,1995.0,B,R,190.0,73.0,7/26/16,9/30/18,2016,2018
14958,munozya01,1995.0,R,R,201.0,73.0,3/29/18,9/30/18,2018,2018
14976,oneilty01,1995.0,R,R,210.0,71.0,4/19/18,9/30/18,2018,2018
15036,rosaram01,1995.0,R,R,189.0,74.0,8/1/17,9/30/18,2017,2018
15054,smithdo02,1995.0,L,L,239.0,72.0,8/11/17,9/30/18,2017,2018
15073,suarera01,1995.0,L,L,180.0,73.0,7/26/18,9/30/18,2018,2018
15081,tellero01,1995.0,L,L,220.0,76.0,9/5/18,9/30/18,2018,2018
15136,bellico01,1995.0,L,L,210.0,76.0,4/25/17,10/1/18,2017,2018
15168,marquge01,1995.0,R,R,185.0,73.0,9/8/16,10/1/18,2016,2018

In [15]:
df2.drop(columns=['debut', 'finalGame'], inplace=True)

In [16]:
# This will be exported to a separate module - retroid_dict.py
ids = pd.read_csv('../core/data/lahman/mlb_data/People.csv')
ids = ids[['playerID', 'retroID']]
id_dict = ids.set_index('playerID').to_dict()['retroID']

def get_retroid(id):
    return id_dict[id] if id_dict is not None else ''

In [17]:
df1['playerID'] = df1['playerID'].apply(get_retroid)
df2['playerID'] = df2['playerID'].apply(get_retroid)
df1.rename(columns={'playerID': 'retroID'}, inplace=True)
df2.rename(columns={'playerID': 'retroID'}, inplace=True)

In [18]:
df1 = df1.groupby('retroID').agg(lambda pos: pd.Series.mode(pos)[0])

In [19]:
df1 = df1.reset_index()
df1

        retroID POS
0      aardd001   P
1      aaroh101  OF
2      aarot101  1B
3      aased001   P
4      abada001  1B
...         ...  ..
15026  zupcb001  OF
15027  zupof101   C
15028  zuveg101   P
15029  zuvep001  SS
15030  zycht001   P

[15031 rows x 2 columns]

In [20]:
df2 = df2[df2['retroID'].notnull()]

In [21]:
df2

        retroID  birthYear bats throws  weight  height  debutYear  finalYear
0      omaro101     1891.0    R      R   155.0    69.0       1912       1919
1      steeb103     1894.0    B      L   175.0    70.0       1916       1919
2      fisht103     1886.0    R      R   170.0    69.0       1912       1919
3      kanef101     1895.0    L      R   175.0    71.0       1915       1919
4      kingl101     1894.0    R      R   150.0    70.0       1916       1919
...         ...        ...  ...    ...     ...     ...        ...        ...
17293  willj801     1847.0  NaN    NaN     NaN     NaN          0          0
17296  winkb801     1930.0    R      R   168.0    69.0          0          0
17297  wriga801     1842.0  NaN    NaN     NaN     NaN          0          0
17299  younn801     1840.0  NaN    NaN     NaN     NaN          0          0
17300  zeihh101     1862.0  NaN    NaN   149.0    70.0          0          0

[17245 rows x 8 columns]

In [22]:
df1.shape

(15031, 2)

In [23]:
df1[df1['retroID'].isin(df2['retroID'])].shape

(15031, 2)

In [24]:
df1.head()

    retroID POS
0  aardd001   P
1  aaroh101  OF
2  aarot101  1B
3  aased001   P
4  abada001  1B

In [25]:
df2.head()

    retroID  birthYear bats throws  weight  height  debutYear  finalYear
0  omaro101     1891.0    R      R   155.0    69.0       1912       1919
1  steeb103     1894.0    B      L   175.0    70.0       1916       1919
2  fisht103     1886.0    R      R   170.0    69.0       1912       1919
3  kanef101     1895.0    L      R   175.0    71.0       1915       1919
4  kingl101     1894.0    R      R   150.0    70.0       1916       1919

In [26]:
df2[df2['retroID'] == 'aardd001']

        retroID  birthYear bats throws  weight  height  debutYear  finalYear
13110  aardd001     1981.0    R      R   215.0    75.0       2004       2015

In [27]:
df = pd.merge(df1, df2, on='retroID')

In [28]:
df

,retroID,POS,birthYear,bats,throws,weight,height,debutYear,finalYear
0,aardd001,P,1981.0,R,R,215.0,75.0,2004,2015
1,aaroh101,OF,1934.0,R,R,180.0,72.0,1954,1976
2,aarot101,1B,1939.0,R,R,190.0,75.0,1962,1971
3,aased001,P,1954.0,R,R,190.0,75.0,1977,1990
4,abada001,1B,1972.0,L,L,184.0,73.0,2001,2006
...,...,...,...,...,...,...,...,...,...
15026,zupcb001,OF,1966.0,R,R,220.0,76.0,1991,1994
15027,zupof101,C,1939.0,L,R,182.0,71.0,1957,1961
15028,zuveg101,P,1924.0,R,R,195.0,76.0,1951,1959
15029,zuvep001,SS,1958.0,R,R,173.0,72.0,1982,1991
15030,zycht001,P,1990.0,R,R,190.0,75.0,2015,2017