In [1]:
import pandas as pd

In [2]:
df_by_player = pd.read_csv('../core/output/pitchers.csv')
df_players = pd.read_csv('../core/output/pitching.csv')

In [4]:
df_constants = pd.read_csv('../core/data/FanGraphsConstants.csv')
df_stats = pd.read_csv('../core/data/FanGraphsPitching.csv')

In [6]:
df_fip = df_constants[['Season', 'runSB', 'runCS', 'R/PA', 'R/W', 'cFIP']]

In [8]:
df_stats.head()

,Name,Team,W,L,SV,G,GS,IP,K/9,BB/9,HR/9,BABIP,LOB%,GB%,HR/FB,ERA,FIP,xFIP,WAR,playerid
0,Roger Clemens,- - -,354,184,0,709,707,4916.2,8.55,2.89,0.66,0.284,74.6 %,46.8 %,8.9 %,3.12,3.09,3.50,133.7,815
1,Greg Maddux,- - -,355,227,0,744,740,5008.1,6.06,1.80,0.63,0.281,72.3 %,51.5 %,12.0 %,3.16,3.26,3.73,116.7,104
2,Randy Johnson,- - -,303,166,2,618,603,4135.1,10.61,3.26,0.89,0.291,74.7 %,43.2 %,12.0 %,3.29,3.19,3.23,110.4,60
3,Nolan Ryan,- - -,324,292,3,807,773,5386.0,9.55,4.67,0.54,0.265,73.1 %,NaN,NaN,3.19,2.97,NaN,107.2,1011348
4,Bert Blyleven,- - -,287,250,0,692,685,4970.0,6.70,2.39,0.78,0.282,74.1 %,NaN,NaN,3.31,3.19,NaN,103.3,1001098

In [10]:
df_players

,retroID,yearID,W,L,G,GS,CG,SHO,SV,IPouts,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,adamb104,1919,17,10,34,29,23,6,1,790,...,0,2,3,0,1017,5,66,0,0,0
1,adamw101,1919,0,0,1,0,0,0,0,14,...,0,0,1,0,21,1,2,0,0,0
2,alexg102,1919,16,11,30,27,20,9,1,705,...,0,1,0,0,906,3,51,0,0,0
3,altrn101,1919,0,0,1,0,0,0,0,0,...,0,0,0,0,4,0,4,0,0,0
4,amesr101,1919,3,5,23,7,1,0,1,210,...,0,3,1,0,314,10,44,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41296,zamod001,2019,0,1,17,0,0,0,0,26,...,1,0,1,0,41,3,5,0,1,0
41297,zeuct001,2019,1,2,5,3,0,0,0,68,...,0,2,0,0,99,0,13,0,0,1
41298,zimmj003,2019,1,13,23,23,0,0,0,336,...,2,3,6,0,504,0,89,3,4,5
41299,zimmk001,2019,0,1,15,0,0,0,0,55,...,0,2,0,0,102,3,22,0,0,1
41300,zobrb001,2019,0,0,1,0,0,0,0,3,...,0,0,0,0,5,1,0,0,0,0

In [12]:
df_by_player.columns

Index(['retroID', 'BAOpp', 'ERA', 'W', 'L', 'G', 'GS', 'CG', 'SHO', 'SV',
       'IPouts', 'H_A', 'ER', 'HR_A', 'BB_A', 'SO_A', 'IBB_A', 'WP', 'HBP_A',
       'BK', 'BFP', 'GF', 'R_A', 'SH_A', 'SF_A', 'GIDP_A', 'weight', 'height',
       'debutYear', 'finalYear', 'bats_L', 'throws_L', 'AB', 'PA', 'R', 'H',
       '1B', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP',
       'SH', 'SF', 'GIDP', 'NL'],
      dtype='object')

In [16]:
ck = df_by_player[df_by_player['retroID'] == 'kersc001']

In [17]:
ck['SO_A'] / ck['BFP']

3761    0.275061
dtype: float64