In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../core/output/batters.csv')
indexer = df.reset_index()[['index', 'retroID']].to_dict()['retroID']
y = df['Batting'].values
to_drop = ['debutYear', 'finalYear', 'G', '1B', 'AB', 'RBI', 'wOBA']
df.drop(columns=to_drop, inplace=True)

In [4]:
rose = df[df['retroID'] == 'rosep001']

In [5]:
rose

,retroID,weight,height,pos_1B,pos_2B,pos_3B,pos_C,pos_OF,pos_P,pos_SS,...,SO,IBB,HBP,SH,SF,GIDP,NL,wRC+,WAR,Batting
11865,rosep001,0.47541,0.4,0,0,0,0,1,0,0,...,1143,167,107,56,79,247,1,121,80.2,0.271084

In [7]:
rose.values[0][1:]

array([0.47541000000000005, 0.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 15861, 2165,
       4256, 746, 135, 160, 198, 149.0, 1566, 1143, 167, 107, 56, 79, 247,
       1, 121, 80.2, 0.271084], dtype=object)

In [13]:
def to_tensor_input(player):
    return player.values[0][1:len(player.values[0]) - 1]

In [14]:
print(to_tensor_input(rose))

[0.47541000000000005 0.4 0 0 0 0 1 0 0 0 0 15861 2165 4256 746 135 160 198
 149.0 1566 1143 167 107 56 79 247 1 121 80.2]