In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

<h2>Position Players</h2>

In [2]:
batters = pd.read_csv('../core/output/batters.csv')
batter_years = pd.read_csv('../core/output/batting.csv')
year = 2017
batter = 'bettm001'

In [3]:
career = batters[batters['retroID'] == batter]
player = batter_years[(batter_years['retroID'] == batter)
                      & (batter_years['yearID'] <= year)]
player = player.groupby('retroID').sum()

In [4]:
career

,retroID,weight,height,pos_1B,pos_2B,pos_3B,pos_C,pos_OF,pos_P,pos_SS,...,IBB,HBP,SH,SF,GIDP,NL,wOBA,wRC+,WAR,Batting
1074,bettm001,0.42623,0.3,0,0,0,0,1,0,0,...,25,19,4,32,41,0,0.377,135,37.2,0.245078

In [5]:
career.shape

(1, 37)

In [6]:
player

,yearID,stint,G,AB,PA,R,H,1B,2B,3B,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,NL
retroID,,,,,,,,,,,,,,,,,,,,,
bettm001,8062,4,508,2086,2309,349,609,373,142,16,...,80,16.0,193,272,11,8,4,18,25,0

In [7]:
career.columns

Index(['retroID', 'weight', 'height', 'pos_1B', 'pos_2B', 'pos_3B', 'pos_C',
       'pos_OF', 'pos_P', 'pos_SS', 'bats_L', 'throws_L', 'seasons', 'G', 'AB',
       'PA', 'R', 'H', '1B', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO',
       'IBB', 'HBP', 'SH', 'SF', 'GIDP', 'NL', 'wOBA', 'wRC+', 'WAR',
       'Batting'],
      dtype='object')

In [8]:
player.columns

Index(['yearID', 'stint', 'G', 'AB', 'PA', 'R', 'H', '1B', '2B', '3B', 'HR',
       'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH', 'SF', 'GIDP', 'NL'],
      dtype='object')

In [9]:
career_to_drop = ['debutYear', 'finalYear', 'wOBA', 'Batting']

In [10]:
features = ['G', 'AB', 'PA', 'R', 'H', '1B', '2B', '3B',
            'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB',
            'HBP', 'SH', 'SF', 'GIDP']

In [11]:
for column in career[features]:
    career.iloc[0][column] = player.iloc[0][column]

In [12]:
career

,retroID,weight,height,pos_1B,pos_2B,pos_3B,pos_C,pos_OF,pos_P,pos_SS,...,IBB,HBP,SH,SF,GIDP,NL,wOBA,wRC+,WAR,Batting
1074,bettm001,0.42623,0.3,0,0,0,0,1,0,0,...,25,19,4,32,41,0,0.377,135,37.2,0.245078

In [13]:
career = career.drop(columns=career_to_drop)

In [13]:
career

,retroID,weight,height,pos_1B,pos_2B,pos_3B,pos_C,pos_OF,pos_P,pos_SS,...,IBB,HBP,SH,SF,GIDP,NL,wOBA,wRC+,WAR,Batting
1074,bettm001,0.42623,0.3,0,0,0,0,1,0,0,...,25,19,4,32,41,0,0.377,135,37.2,0.245078

<h2>Pitchers</h2>

In [14]:
pitchers = pd.read_csv('../core/output/pitchers.csv')
pitcher_years = pd.read_csv('../core/output/pitching.csv')
year = 2017
pitcher = 'kersc001'

In [15]:
career = pitchers[pitchers['retroID'] == pitcher]
player = pitcher_years[(pitcher_years['retroID'] == pitcher)
                      & (pitcher_years['yearID'] <= year)]
player = player.groupby('retroID').sum()

In [16]:
career

,retroID,weight,height,pos_1B,pos_2B,pos_3B,pos_C,pos_OF,pos_P,pos_SS,...,IP,K/9,BB/9,HR/9,BABIP,LOB%,ERA,FIP,WAR,Pitching
3761,kersc001,0.614754,0.65,0,0,0,0,0,1,0,...,0.420829,9.75,2.28,0.68,0.27,79.4,2.44,2.74,64.5,0.799781

In [17]:
player

,yearID,W,L,G,GS,CG,SHO,SV,IPouts,H,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
retroID,,,,,,,,,,,,,,,,,,,,,
kersc001,20125,144,64,292,290,25,15,0,5805,1431,...,27,71,29,19,7602,1,554,77,23,131

In [18]:
career.columns

Index(['retroID', 'weight', 'height', 'pos_1B', 'pos_2B', 'pos_3B', 'pos_C',
       'pos_OF', 'pos_P', 'pos_SS', 'bats_L', 'throws_L', 'seasons', 'BAOpp',
       'CG', 'SHO', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'IBB', 'WP', 'HBP',
       'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP', 'K%', 'IP', 'K/9', 'BB/9',
       'HR/9', 'BABIP', 'LOB%', 'ERA', 'FIP', 'WAR', 'Pitching'],
      dtype='object')

In [19]:
player.columns

Index(['yearID', 'W', 'L', 'G', 'GS', 'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER',
       'HR', 'BB', 'SO', 'BAOpp', 'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF',
       'R', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [20]:
career_to_drop = ['IPouts', 'BFP', 'R', 'Pitching']

In [21]:
features = ['CG', 'SHO' , 'H', 'ER', 'HR', 'BB', 'SO',
            'BAOpp', 'ERA', 'IBB', 'WP', 'HBP', 'BK',
            'BFP', 'GF','R', 'SH', 'SF', 'GIDP']

In [22]:
for column in career[features]:
    career.iloc[0][column] = player.iloc[0][column]

In [23]:
career = career.drop(columns=career_to_drop)

In [24]:
career

,retroID,weight,height,pos_1B,pos_2B,pos_3B,pos_C,pos_OF,pos_P,pos_SS,...,K%,IP,K/9,BB/9,HR/9,BABIP,LOB%,ERA,FIP,WAR
3761,kersc001,0.614754,0.65,0,0,0,0,0,1,0,...,0.275061,0.420829,9.75,2.28,0.68,0.27,79.4,2.44,2.74,64.5

In [98]:
scalers = {}
career_features = {
    'batting': [
        'G', 'AB', 'PA', 'R', 'H', '1B', '2B', '3B',
        'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB',
        'HBP', 'SH', 'SF', 'GIDP'
    ],
    'pitching': [
        'CG', 'SHO', 'H', 'ER', 'HR', 'BB', 'SO',
        'BAOpp', 'ERA', 'IBB', 'WP', 'HBP', 'BK',
        'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'
    ]
}
unwanted_features = {
    'batting': ['retroID', 'wOBA', 'Batting'],
    'pitching': ['retroID', 'IPouts', 'BFP', 'R', 'Pitching']
}
players = {
    'batting': {
        'players': batters,
        'years': batter_years
    },
    'pitching': {
        'players': pitchers,
        'years': pitcher_years
    }
}
player_type_label = 'batting'
year = 2017
retro_id = 'bettm001'

In [99]:
from sklearn.preprocessing import MinMaxScaler

In [100]:
scaler = MinMaxScaler()

In [101]:
scaler.fit(players['pitching']['players'].drop(columns=['retroID']).iloc[0].values.reshape(-1, player.shape[0]))

MinMaxScaler(copy=True, feature_range=(0, 1))

In [102]:
def to_tensor_input(scaler, player, label):
    scalers[label] = scaler
    return scaler.transform(player.values.reshape(-1, player.shape[0]))[0]

In [103]:
def convert_single_player(retro_id, year, player_type_label):
    player_table = players[player_type_label]['players']
    player_so_far_table = players[player_type_label]['years']
    player = player_table[player_table['retroID'] == retro_id]
    player_so_far = player_so_far_table[(player_so_far_table['retroID'] == retro_id)
                                        & (player_so_far_table['yearID'] <= year)]
    player_so_far = player_so_far.groupby('retroID').sum()
    features = career_features[player_type_label]
    for column in player[features]:
        player.iloc[0][column] = player_so_far.iloc[0][column]
    player_columns_to_drop = unwanted_features[player_type_label]
    player = player.drop(columns=player_columns_to_drop)
    return to_tensor_input(scaler, player, player_type_label)

In [104]:
def get_batter_as_tensor_input(batter, year):
#     scaler = scalers['batting']
    player = batters[batters['retroID'] == batter]
    player_so_far = batter_years[(batter_years['retroID'] == batter)
                                 & (batter_years['yearID'] <= year)]
    player_so_far = player_so_far.groupby('retroID').sum()
    features = ['G', 'AB', 'PA', 'R', 'H', '1B', '2B', '3B',
                'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB',
                'HBP', 'SH', 'SF', 'GIDP']
    for column in player[features]:
        player[column] = player_so_far.iloc[0][column]
    player_columns_to_drop = ['retroID', 'wOBA', 'Batting']
    player = player.drop(columns=player_columns_to_drop)
    return to_tensor_input(scaler, player, 'batting')

In [105]:
new = get_batter_as_tensor_input(retro_id, year)

(1, 34)

In [106]:
new = convert_single_player(retro_id, year, player_type_label)

(1, 34)

In [107]:
new

array([0.00028897])