In [1]:
import pandas as pd

In [2]:
df_names = pd.read_csv('../core/data/Names.csv')
df_stats = pd.read_csv('../core/data/FanGraphsAllStats.csv')

In [3]:
# Player Lookup
def get_name(retro_id):
    return df_names[df_names['retroID'] == retro_id]['Name'].iloc[0]

def get_id(name):
    return df_names[df_names['Name'] == name]['retroID'].iloc[0]

def get_by(column, data):
    return df_names[df_names[column] == data].iloc[0]

In [4]:
# Get map between RSID and FGID
df_cw = pd.read_csv('../core/data/ChadwickPeople.csv')
df_cw = df_cw[~df_cw['key_fangraphs'].isnull()]
df_cw = df_cw[['key_retro', 'key_fangraphs']]
df_cw['key_fangraphs'] = df_cw['key_fangraphs'].astype(int)
df_cw.rename(columns={'key_retro': 'retroID',
                   'key_fangraphs': 'fangraphsID'}, inplace=True)
df_cw = df_cw.dropna()


def get_fg_id(retro_id):
    return df_cw[df_cw['retroID'] == retro_id]['fangraphsID'].iloc[0] if retro_id in list(df_cw['fangraphsID']) else -1


def get_rs_id(fangraphs_id):
    return df_cw[df_cw['fangraphsID'] == fangraphs_id]['retroID'].iloc[0] if fangraphs_id in list(df_cw['fangraphsID']) else -1

/Users/uakti/opt/anaconda3/envs/tf2env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df_stats.head(2)

,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,...,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR,playerid
0,Barry Bonds,- - -,2986,12606,762,2227,1996,514,20.3 %,12.2 %,...,0.298,0.444,0.607,0.435,173.0,30.4,1173.8,67.6,164.4,1109
1,Babe Ruth,- - -,2242,9831,694,2075,2101,117,20.1 %,12.2 %,...,0.346,0.481,0.705,0.519,200.0,-21.2,1293.8,-16.6,159.5,1011327

In [6]:
get_rs_id(1109)

'bondb001'

In [7]:
df_stats['retroID'] = df_stats.apply(lambda player: get_rs_id(player['playerid']), axis=1)

In [8]:
df_stats[df_stats['retroID'] == -1].shape

(1, 23)

In [9]:
df_stats.shape

(14400, 23)

In [10]:
df_stats = df_stats[df_stats['retroID'] != -1]

In [11]:
df_stats.shape

(14399, 23)

In [12]:
df_stats = df_stats[['retroID', 'wOBA', 'wRC+', 'WAR']]

In [13]:
df_stats.head(5)

    retroID   wOBA   wRC+    WAR
0  bondb001  0.435  173.0  164.4
1  ruthb101  0.519  200.0  159.5
2  maysw101  0.409  154.0  149.9
3  aaroh101  0.403  153.0  136.3
4  willt103  0.493  188.0  130.4