In [60]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [61]:
df_names = pd.read_csv('../core/data/Names.csv')
df_stats = pd.read_csv('../core/data/FanGraphsPitching.csv')
df_constants = pd.read_csv('../core/data/FanGraphsConstants.csv')

In [62]:
# Player Lookup
def get_name(retro_id):
    return df_names[df_names['retroID'] == retro_id]['Name'].iloc[0]

def get_id(name):
    return df_names[df_names['Name'] == name]['retroID'].iloc[0]

def get_by(column, data):
    return df_names[df_names[column] == data].iloc[0]
# Get map between RSID and FGID
df_cw = pd.read_csv('../core/data/ChadwickPeople.csv')
df_cw = df_cw[~df_cw['key_fangraphs'].isnull()]
df_cw = df_cw[['key_retro', 'key_fangraphs']]
df_cw['key_fangraphs'] = df_cw['key_fangraphs'].astype(int)
df_cw.rename(columns={'key_retro': 'retroID',
                   'key_fangraphs': 'fangraphsID'}, inplace=True)
df_cw = df_cw.dropna()


def get_fg_id(retro_id):
    return df_cw[df_cw['retroID'] == retro_id]['fangraphsID'].iloc[0] if retro_id in list(df_cw['fangraphsID']) else -1


def get_rs_id(fangraphs_id):
    return df_cw[df_cw['fangraphsID'] == fangraphs_id]['retroID'].iloc[0] if fangraphs_id in list(df_cw['fangraphsID']) else -1

/Users/uakti/opt/anaconda3/envs/tf2env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [63]:
df_constants

,Season,wOBA,wOBAScale,wBB,wHBP,w1B,w2B,w3B,wHR,runSB,runCS,R/PA,R/W,cFIP
0,2019,0.320,1.157,0.690,0.719,0.870,1.217,1.529,1.940,0.2,-0.435,0.126,10.296,3.214
1,2018,0.315,1.226,0.690,0.720,0.880,1.247,1.578,2.031,0.2,-0.407,0.117,9.714,3.161
2,2017,0.321,1.185,0.693,0.723,0.877,1.232,1.552,1.980,0.2,-0.423,0.122,10.048,3.158
3,2016,0.318,1.212,0.691,0.721,0.878,1.242,1.569,2.015,0.2,-0.410,0.118,9.778,3.147
4,2015,0.313,1.251,0.687,0.718,0.881,1.256,1.594,2.065,0.2,-0.392,0.113,9.421,3.134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,1875,0.261,1.274,0.730,0.761,0.927,1.309,1.654,2.045,0.2,-0.531,0.156,12.231,2.370
145,1874,0.282,1.145,0.760,0.789,0.938,1.281,1.591,1.886,0.2,-0.629,0.179,14.227,2.808
146,1873,0.303,1.025,0.788,0.814,0.947,1.255,1.531,1.739,0.2,-0.741,0.207,16.482,2.932
147,1872,0.297,1.020,0.791,0.816,0.949,1.255,1.530,1.725,0.2,-0.763,0.213,16.926,3.508
148,1871,0.312,0.909,0.797,0.820,0.938,1.211,1.456,1.584,0.2,-0.863,0.237,18.954,3.580

In [64]:
df_stats

,Name,Team,W,L,SV,G,GS,IP,K/9,BB/9,HR/9,BABIP,LOB%,GB%,HR/FB,ERA,FIP,xFIP,WAR,playerid
0,Roger Clemens,- - -,354,184,0,709,707,4916.2,8.55,2.89,0.66,0.284,74.6 %,46.8 %,8.9 %,3.12,3.09,3.50,133.7,815
1,Greg Maddux,- - -,355,227,0,744,740,5008.1,6.06,1.80,0.63,0.281,72.3 %,51.5 %,12.0 %,3.16,3.26,3.73,116.7,104
2,Randy Johnson,- - -,303,166,2,618,603,4135.1,10.61,3.26,0.89,0.291,74.7 %,43.2 %,12.0 %,3.29,3.19,3.23,110.4,60
3,Nolan Ryan,- - -,324,292,3,807,773,5386.0,9.55,4.67,0.54,0.265,73.1 %,NaN,NaN,3.19,2.97,NaN,107.2,1011348
4,Bert Blyleven,- - -,287,250,0,692,685,4970.0,6.70,2.39,0.78,0.282,74.1 %,NaN,NaN,3.31,3.19,NaN,103.3,1001098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8020,Darrel Akerfelds,- - -,9,10,3,125,13,233.2,4.97,4.89,1.39,0.243,68.7 %,NaN,NaN,5.08,5.53,NaN,-2.7,1000096
8021,Dave Jolly,Braves,16,14,19,159,1,291.1,4.79,6.12,0.83,0.246,76.5 %,NaN,NaN,3.77,4.67,NaN,-2.7,1006519
8022,Bill Laxton,- - -,3,10,5,121,4,243.1,6.99,5.84,1.26,0.256,71.4 %,NaN,NaN,4.73,5.03,NaN,-2.8,1007411
8023,Pat Mahomes,- - -,42,39,5,308,63,709.0,5.74,4.98,1.47,0.284,69.5 %,38.6 %,6.8 %,5.47,5.62,5.19,-3.0,291
8024,Alan Mills,- - -,39,32,15,474,5,636.0,6.45,5.59,1.17,0.265,78.4 %,NaN,NaN,4.12,5.25,NaN,-3.6,1008949

<p>Right away we see some features we know we won't be concerned with.</p>

In [65]:
df_stats.columns

Index(['Name', 'Team', 'W', 'L', 'SV', 'G', 'GS', 'IP', 'K/9', 'BB/9', 'HR/9',
       'BABIP', 'LOB%', 'GB%', 'HR/FB', 'ERA', 'FIP', 'xFIP', 'WAR',
       'playerid'],
      dtype='object')

In [66]:
df_stats = df_stats.drop(columns=['Team', 'W', 'L', 'SV', 'G', 'GS'])

In [67]:
100 * df_stats.isnull().sum() / len(df_stats)

Name         0.000000
IP           0.000000
K/9          0.000000
BB/9         0.000000
HR/9         0.000000
BABIP        0.000000
LOB%         0.000000
GB%         61.557632
HR/FB       61.557632
ERA          0.000000
FIP          0.000000
xFIP        61.557632
WAR          0.000000
playerid     0.000000
dtype: float64

<p>We're not overly concerned with GB% or HR/FB, so we can just drop them.</p>

In [68]:
df_stats = df_stats.drop(columns=['GB%', 'HR/FB'])

In [69]:
100 * df_stats.isnull().sum() / len(df_stats)

Name         0.000000
IP           0.000000
K/9          0.000000
BB/9         0.000000
HR/9         0.000000
BABIP        0.000000
LOB%         0.000000
ERA          0.000000
FIP          0.000000
xFIP        61.557632
WAR          0.000000
playerid     0.000000
dtype: float64

<p>Unfortunately, there is not reliable HR/FB data for players pre-2002. This value is integral to xFIP, so we cannot use this statistic in our model.</p>

In [70]:
df_stats = df_stats.drop(columns=['xFIP'])

In [71]:
100 * df_stats.isnull().sum() / len(df_stats)

Name        0.0
IP          0.0
K/9         0.0
BB/9        0.0
HR/9        0.0
BABIP       0.0
LOB%        0.0
ERA         0.0
FIP         0.0
WAR         0.0
playerid    0.0
dtype: float64

In [72]:
df_stats['retroID'] = df_stats.apply(lambda player: get_rs_id(player['playerid']), axis=1)

In [76]:
df_stats.loc[(df_stats['retroID'] == -1), 'retroID'] = 'morrb103'

In [78]:
df_stats[df_stats['retroID'] == 'morrb103']

,Name,IP,K/9,BB/9,HR/9,BABIP,LOB%,ERA,FIP,WAR,playerid,retroID
7208,Bugs Morris,23.1,1.93,8.49,0.77,0.315,58.6 %,8.1,6.87,-0.4,1009200,morrb103

In [18]:
df_stats.columns

Index(['Name', 'IP', 'K/9', 'BB/9', 'HR/9', 'BABIP', 'LOB%', 'ERA', 'FIP',
       'WAR', 'playerid', 'retroID'],
      dtype='object')

In [19]:
df_stats = df_stats[['retroID', 'IP', 'K/9', 'BB/9', 'HR/9',
                     'BABIP', 'LOB%', 'ERA', 'FIP', 'WAR']]

In [20]:
df_stats

       retroID      IP    K/9  BB/9  HR/9  BABIP    LOB%   ERA   FIP    WAR
0     clemr001  4916.2   8.55  2.89  0.66  0.284  74.6 %  3.12  3.09  133.7
1     maddg002  5008.1   6.06  1.80  0.63  0.281  72.3 %  3.16  3.26  116.7
2     johnr005  4135.1  10.61  3.26  0.89  0.291  74.7 %  3.29  3.19  110.4
3     ryann001  5386.0   9.55  4.67  0.54  0.265  73.1 %  3.19  2.97  107.2
4     blylb001  4970.0   6.70  2.39  0.78  0.282  74.1 %  3.31  3.19  103.3
...        ...     ...    ...   ...   ...    ...     ...   ...   ...    ...
8020  akerd001   233.2   4.97  4.89  1.39  0.243  68.7 %  5.08  5.53   -2.7
8021  jolld101   291.1   4.79  6.12  0.83  0.246  76.5 %  3.77  4.67   -2.7
8022  laxtb101   243.1   6.99  5.84  1.26  0.256  71.4 %  4.73  5.03   -2.8
8023  mahop001   709.0   5.74  4.98  1.47  0.284  69.5 %  5.47  5.62   -3.0
8024  milla001   636.0   6.45  5.59  1.17  0.265  78.4 %  4.12  5.25   -3.6

[8025 rows x 10 columns]

In [21]:
100 * df_stats.isnull().sum() / len(df_stats)

retroID    0.0
IP         0.0
K/9        0.0
BB/9       0.0
HR/9       0.0
BABIP      0.0
LOB%       0.0
ERA        0.0
FIP        0.0
WAR        0.0
dtype: float64

<h2>Normalizing</h2>

In [22]:
from sklearn.preprocessing import MinMaxScaler

In [23]:
scaler = MinMaxScaler()

In [26]:
scaler.fit_transform(df_stats[['IP']])

array([[0.9097167 ],
       [0.9267223 ],
       [0.76517829],
       ...,
       [0.04498436],
       [0.13119668],
       [0.11768842]])

In [30]:
df_stats['IP'] = scaler.fit_transform(df_stats[['IP']])

In [31]:
df_stats

       retroID        IP    K/9  BB/9  HR/9  BABIP    LOB%   ERA   FIP    WAR
0     clemr001  0.909717   8.55  2.89  0.66  0.284  74.6 %  3.12  3.09  133.7
1     maddg002  0.926722   6.06  1.80  0.63  0.281  72.3 %  3.16  3.26  116.7
2     johnr005  0.765178  10.61  3.26  0.89  0.291  74.7 %  3.29  3.19  110.4
3     ryann001  0.996651   9.55  4.67  0.54  0.265  73.1 %  3.19  2.97  107.2
4     blylb001  0.919672   6.70  2.39  0.78  0.282  74.1 %  3.31  3.19  103.3
...        ...       ...    ...   ...   ...    ...     ...   ...   ...    ...
8020  akerd001  0.043152   4.97  4.89  1.39  0.243  68.7 %  5.08  5.53   -2.7
8021  jolld101  0.053867   4.79  6.12  0.83  0.246  76.5 %  3.77  4.67   -2.7
8022  laxtb101  0.044984   6.99  5.84  1.26  0.256  71.4 %  4.73  5.03   -2.8
8023  mahop001  0.131197   5.74  4.98  1.47  0.284  69.5 %  5.47  5.62   -3.0
8024  milla001  0.117688   6.45  5.59  1.17  0.265  78.4 %  4.12  5.25   -3.6

[8025 rows x 10 columns]

In [35]:
df_stats['LOB%'][0][:-2]

'74.6'

In [42]:
def convert_lob_to_float(string):
    val = string[:-2]
    return float(val)

In [43]:
df_stats['LOB%'] = df_stats['LOB%'].apply(convert_lob_to_float)

TypeError: 'float' object is not subscriptable

In [44]:
df_stats

       retroID        IP    K/9  BB/9  HR/9  BABIP  LOB%   ERA   FIP    WAR
0     clemr001  0.909717   8.55  2.89  0.66  0.284  74.6  3.12  3.09  133.7
1     maddg002  0.926722   6.06  1.80  0.63  0.281  72.3  3.16  3.26  116.7
2     johnr005  0.765178  10.61  3.26  0.89  0.291  74.7  3.29  3.19  110.4
3     ryann001  0.996651   9.55  4.67  0.54  0.265  73.1  3.19  2.97  107.2
4     blylb001  0.919672   6.70  2.39  0.78  0.282  74.1  3.31  3.19  103.3
...        ...       ...    ...   ...   ...    ...   ...   ...   ...    ...
8020  akerd001  0.043152   4.97  4.89  1.39  0.243  68.7  5.08  5.53   -2.7
8021  jolld101  0.053867   4.79  6.12  0.83  0.246  76.5  3.77  4.67   -2.7
8022  laxtb101  0.044984   6.99  5.84  1.26  0.256  71.4  4.73  5.03   -2.8
8023  mahop001  0.131197   5.74  4.98  1.47  0.284  69.5  5.47  5.62   -3.0
8024  milla001  0.117688   6.45  5.59  1.17  0.265  78.4  4.12  5.25   -3.6

[8025 rows x 10 columns]